/* utilites */
/* google font poppins import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cus-color: #E76F51;
  }

body{
    overflow-x: hidden;
    
}

.custom-button{
    background-color: var(--cus-color);
}

.custom-color{
    color: var(--cus-color);
}

header{
    background-color: #264653;
}

nav{
    background-color: #264653;
}

.section-title{
    font-family: 'Poppins', sans-serif;
}

.newsletter-section{
    
    height: 400px;
    width: 100%;
    
}

.banner-item-text-details{
    color: #E0E0E0;
}

/* image filter */
.grayscale-img{
    filter: grayscale(100%);
}
